{% extends 'main/base.html' %}
{% block title %}Create an Account{% endblock %}
{% load crispy_forms_tags %}
    {% block content %}
    <html>
    <head>
        <link rel=  "stylesheet"  type="text/css" href="https://bootswatch.com/5/lux/bootstrap.min.css">
    </head>
</html>
<div class="container" style="width:500px ; position: relative; top:50px ;">
    <form method="POST" class="form-group">
        {% csrf_token %}
        {{form|crispy}}
        <p>Already have an account? <a href="/login">Login</a></p>
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
</div>
    {% endblock %}
</div>