{% extends 'main/base.html' %}
{% block title %}Login{% endblock %}
{% load crispy_forms_tags %}
    {% block content %}
    <html>
    <head>
        <link rel=  "stylesheet"  type="text/css" href="https://bootswatch.com/5/lux/bootstrap.min.css">
    </head>
    <div class="center">
        <div class="container" style="width:500px; position: relative; top:150px ;">
            <form method="POST" class="form-group">
                {% csrf_token %}
                {{form|crispy}}
                <p>Don't have an account? Create one <a href="/register">Register</a></p>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
    {% endblock %}
</div>